/* Fuentes */

@font-face {
    font-family: "Avenir";
    src: url('../fonts/Avenir-Book.ttf');
}

/*Reseteo CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

/*Generales*/

html{font-size: 20px;}
@media (max-width:440px){
    html{font-size: 18px;}   
}

body{
    font-family: "Avenir", sans-serif;
    color: #67666e;
}

img{max-width: 100%;}

p{margin-bottom: 0.8rem;}

/*Hero*/
.hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

@keyframes heroAnimation{
    0%{
        opacity: 0;
        animation-timing-function: ease-in;
    }
    12%{opacity: 1;}
    25%{transform: scale(1.2);}
    75%{
        opacity: 0;
        transform: scale(1.1);
    }
    100%{opacity: 0;}
}

.hero div{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover; /*Ocupa el espacio disponible*/
    background-position: center;
    background-repeat: none;
    opacity: 0;
    animation: heroAnimation 18s infinite;
}
.hero div:nth-child(1){
    background-image: url('../img/museo1.png');
}
.hero div:nth-child(2){
    background-image: url('../img/HUACA-SLID1.jpg');
    animation-delay: 6s;
}
.hero div:nth-child(3){
    background-image: url('../img/HUACA-SLID2.jpg');
    animation-delay: 12s;
}

.hero .hero-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: none;
    opacity: 1;
    width: 30%;
    height: auto;
}

.hero .hero-down{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: none;
    opacity: 1;
    width: 5%;
    height: auto;
}

@media(max-width:720px){
    .hero .hero-logo{
        width: 60%;
    }
    .hero .hero-down{
        width: 15%;
    }
}
@media(max-width:440px){
    .hero .hero-logo{
        width: 80%;
    }
    .hero .hero-down{
        width: 20%;
    }
}

/*Header*/
header{
    background-color: white;
    box-shadow: 1.5px 1.5px 4px #b3b3b3;
    height: 80px;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    z-index:1;
    transition: all 400ms ease-in-out;
}

header.transparente{
    background-color: transparent;
    box-shadow: none;
}


header img{
    height: 60px;
    width: auto;
}
header nav a{
    color: #67666e;
    font-weight: normal;
    margin-left: 1em;
    /*transition: all 300ms ease-in-out;    */
}
header.transparente nav a{
    color: rgba(255, 255, 255, 0.9);
    font-weight: normal;
    margin-left: 1em;
    /*transition: all 300ms ease-in-out;    */
}
header nav a.activo,
header nav a:hover{
    color: #a97c50;
    font-weight: bold;
}
header.transparente nav a.activo,
header.transparente nav a:hover{
    color: white;
}
/*Burger*/
#burger{
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 10;
    display: none;
}
#burger .barra{
    width: 30px;
    height: 2px;
    margin: 6px;
    background-color: #a97c50;
    transition: 400ms all ease-in-out;
}

#burger.abierto .barra{
    background-color: white;
    /*transform: rotateY(180deg);*/
}

#burger.abierto .barra.superior{transform: translateY(8px) rotateZ(45deg);}
#burger.abierto .barra.media{width: 0;}
#burger.abierto .barra.inferior{transform: translateY(-8px) rotateZ(-45deg);}

@media(max-width:620px){
    #burger{
        display: block;
    }

    header{
        justify-content: flex-end;
    }

    header nav{
        display: none;
    }
}

/*Menu lateral*/
.menu{
    width: 360px;
    height: 100vh;
    background-color: #424242;
    position: fixed;
    top: 0;
    left: -360px;
    padding-top: 40px;
    transition: all 700ms ease-in-out;
}

.menu.abierto{
    left:0;
}

.menu nav{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.menu nav a{
    padding: 0.6rem 0;
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.1rem;
    transition: 300ms all ease-in-out;
}

.menu nav a:hover{
    color: white;
}

.menu .copyright{
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
}

/*Layout*/
.primera{margin-top: 100vh;}

#pr,
#aviso,
#cookies{
    display: block;
    margin-top: -80px;
    padding-bottom: 80px;
}

.fila{
    display: flex;
    padding: 2rem 1rem;
    text-align: justify;
}

/*AGREGACION - CONTACTO*/
.footer{
    width:100%;
    padding:10px 20px;
}

.aside{
    
    display:block;
    position:relative;
}

.right{
    float:right;
}

.left{
    float:left;
}
.content{
    position:relative;
    margin:4rem auto;

}

.contacto-form{
    width:80%;
    margin:20px;
}

.contacto-form button{
    width:80%;
    margin:auto;
}



@media screen and (min-width:1024px){
    .contacto-body{
        display:grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-areas: "left content right" ;
    }

    .left{
        grid-area:left;
    }
    .right{
        grid-area: right;
    }
    .center{
        grid-area:center;
    }
}


.title-line{
    position:absolute;
    width:80%;
    height:2px;
    background-color:#a97c50;
}

.content h2{
    font-size:2rem;
    color:#81501e
}

/**FIN AGREGACION CONTACTO**/


.fila.contacto{margin-top: 80px;}
.col-100{
    width: 100%;
    padding: 0.5rem 1rem;
}

.col-75{
    width: 75%;
    padding: 0.5rem 1rem;
}
.col-66{
    width: 66.66666%;
    padding: 0.5rem 1rem;
}
.col-50{
    width: 50%;
    padding: 0.5rem 1rem;
}
.col-33{
    width: 33.33333%;
    padding: 0.5rem 1rem;
}
.col-25{
    width: 25%;
    padding: 0.5rem 1rem;
}

@media(max-width:720px){
    .fila{
        flex-direction: column;
        padding: 1rem 0.5;
    }
    .col-75,
    .col-66,
    .col-50,
    .col-33,
    .col-25{width: 100%;}
}

/* Código reutilizable Flex*/
.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Espaciados y márgenes*/
.m-t{margin-top: 1rem;}
.m-b{margin-bottom: 1rem;}
.m-l{margin-left: 1rem;}
.m-r{margin-right: 1rem;}
.m-t-small{margin-top: 0.5rem;}
.m-b-small{margin-bottom: 0.5rem;}
.m-l-small{margin-left: 0.5rem;}
.m-r-small{margin-right: 0.5rem;}


/*Parallax*/
.fila.parallax{
    background-image: url('../img/property5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.fila.parallax div{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 3rem 2rem;
}

.fila.parallax div p{
    font-size: 1.5rem;
    color: #a97c50;
    text-align: center;
}

.caja-nav img{
    width: 20%;
    margin-bottom: 1em;
}

.caja-nav a{
    border: 1px solid #a97c50;
    background-color: white;
    color: #a97c50;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: all ease-in-out 400ms;
}

.caja-nav a:hover{
    background-color: #a97c50;
    color: white;
}

/*Formulario Contacto*/
form.contacto{width: 50%;}

@media(max-width:720px){
    form.contacto{width:75%;}
}

form.contacto .fila{
    padding: 0.8rem;
}
input{
    border: none;
    border-bottom: 1.5px solid #a97c50;
    font-size: 1rem;
    padding: 0.5em 1em;
    width: 100%;
}

input:focus{
    outline: none;
    border-bottom: 1.5px solid #643e18;
}

input.usuario ,input.email{
    background-image: url('../img/user.svg');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 2em;
}
input.email{
    background-image: url('../img/mail-bronce.svg');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 2em;
}

button{
    border: none;
    background-color:#a97c50;
    color: white;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: all ease-in-out 400ms;
}

button:hover{background-color: #81501e;}

input[type='checkbox']{display: none;}
input[type='checkbox'] + label::before{
    content: url(../img/square.svg);
    position: relative;
    top: 5px;
    padding-right: 5px;
}
input[type='checkbox'] + label::before{
    content: url(../img/square.svg);
    position: relative;
    top: 5px;
    padding-right: 5px;
}
input[type='checkbox']:checked + label::before{
    content: url(../img/check-square.svg);
    position: relative;
    top: 5px;
    padding-right: 5px;
}

/*Footer*/

footer{background-color: #424242;}
footer p{color: rgba(255, 255, 255, 0.80);}
footer p:first-child{
    color: #a97c50;
    font-weight: bold;
}
footer img.rrss{height: 48px;}
footer a{
    font-size: 0.8rem;
    color: #a97c50;
    transition: all 400ms ease-in-out;
}
footer a:hover{
    color: #704a24;
}

footer .copyright{
    color: rgba(255, 255, 255, 0.80);
    font-size: 0.8rem;
    text-align: center;
}

/*Card*/
.fila.grid{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit,360px);
    grid-gap: 1.5rem;
    justify-content: center;
}
.card{
    width: 360px;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /*Cuando cada imagen tendrá proporciones variables*/
}
.card img{height: 320px;}
.card .footer-card{
    padding: 0.8rem;
    width: 100%;
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card .footer-card p{margin-bottom: 0.5rem;}
.card .footer-card p:first-child{font-weight:bold;}
.card .footer-card a{
    background-color: #a97c50;
    color: white;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    padding: 0.5em 1em;
    align-self: center;
    transition:400ms ease-in-out all;
}
.card .footer-card a:hover{background-color: #664626;}

/*ficha propiedad*/
.propiedad{
    margin-top: 80px;
    background-image: url("../img/property5.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.propiedad div:first-child{background-color: rgba(255, 255, 255, 0.9);}
.propiedad div:first-child h1{
    font-size: 1.4rem;
    color: #a97c50;
}
.propiedad div:first-child p img{
    width: 28px;
    height: 28px;
}

/*Carrusel*/
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 99;
    display: none;
}

.carrusel{
    position: fixed;
    top: 5vh;
    left: 5%;
    width: 90%;
    background-color: white;
    z-index: 100;
    overflow: hidden;
    display: none;
}

.carrusel .x-modal{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.carrusel .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 900ms all ease-in-out;
}

.carrusel .slide img{
    width: 100%;
}

.rigth-arrow{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-arrow{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

/* CAMBIOS PARA EL HTML */

.fill {

    width:100%;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:-1
}
.fill img {
    
    width:100%;
    height:100%;
    -o-object-fit:cover;
    object-fit:cover;
}   
.head-title{
    margin-top:90vh;
    left:0;
    right: 0;
    background-color: rgba(100,62,24,0.5);
}
.head-title h1{
    margin-left:15%;
    font-size: 50px;
    color:#a97c50;
    text-shadow:-1px 0 #643e18, 0 1px #643e18, 1px 0 #643e18, 0 -1px #643e18; 
}

.content div{
    background-color: rgb(219, 203, 189);
    left:0;
    right:0;
    margin:0;

}

.content{
    height:auto;
}
.content-text div{
    width:80%;
    margin:30px auto 30px auto;
    background-color:#a97d5086;
    padding:40px;
}
.content-text h2{
    font-size:30px;
}
.content-text p{
    font-size:15ox;
    color:#664626;
}

.content-img{    
    position:relative;
    width:100%;
    display:flex;justify-content:flex-end;align-items:center;
}
.content-img .right-img {
    border-top: 30px inset #643e18;
    border-left: 30px outset #643e18;
    border-bottom: 30px outset #643e18;
    width:100%;   
}
.slider-slides{
    position:relative;
    height:400px;    
    background-color: #fff;
    right:0;
    left:0;
}
.slider-slide{
    width:100%;
    height:100%;
    visibility:hidden;
    opacity:0;
    position:absolute;
}

.slider-slide.active{
    
    opacity:1;
    visibility:visible;
    transition: opacity 1s ease;
}
.slider-btns{
    position:absolute;
    display:flex;
    justify-content:space-between;
}
.slider-slide img{
    display:block;
    width:inherit;
    height: inherit;
    -o-object-fit:cover;
    object-fit:cover;
    width:inherit;
    height: inherit;
    transition: transform 1.2s ease;

}
.slider-slide img:hover{
    transform:scale(1.075,1.15);
}
.button{
    display:block;
    text-align: center;
    background-color: #a97c50;
    border-radius: 90px;
    color:#643e18;
    transition: all 0.5s ease;
}
.mas-info{
    width:60%;
    margin:auto;
    margin-top:50px;
    padding:10px;
}

.button:hover{
    color:#a97c50;
    background-color: #643e18;
}
.box-btns{
    position: relative;
}

.slider-btns{
    margin:4rem auto;
    right:30%;
    width:40%;
}
.slider-btns a{
    text-align: center;
    display:block;
    width:2rem;
    height:2rem;
    border: solid #643e18 1px;
    text-decoration: none;
    background-color: #fff;
    font-size:1.25rem;
    font-weight: bold;
}

.slider-btns .ball{
    width:0.6rem;
    height: 0.5em;
    margin:auto;
}


@media screen and (min-width:512px){
    .content{
        display:grid;
        grid-template-columns: 60% 40%;
        grid-template-areas: "text image" ;
    }

    .content-text{
        grid-area:text;
    }
    .content-image{
        grid-area:image;
    }
}



