/* Fuentes */

@font-face {
    font-family: "Avenir";
    src: url('../fonts/Avenir-Book.ttf');
}

/*Reseteo CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

/*Generales*/

html{font-size: 20px;}
@media (max-width:440px){
    html{font-size: 18px;}   
}

body{
    font-family: "Avenir", sans-serif;
    color: #67666e;
}

img{max-width: 100%;}

p{margin-bottom: 0.8rem;}

/*Hero*/
.hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

@keyframes heroAnimation{
    0%{
        opacity: 0;
        animation-timing-function: ease-in;
    }
    12%{opacity: 1;}
    25%{transform: scale(1.2);}
    75%{
        opacity: 0;
        transform: scale(1.1);
    }
    100%{opacity: 0;}
}

.hero div{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover; /*Ocupa el espacio disponible*/
    background-position: center;
    background-repeat: none;
    opacity: 0;
    animation: heroAnimation 18s infinite;
}
.hero div:nth-child(1){
    background-image: url('../img/museo1.png');
}
.hero div:nth-child(2){
    background-image: url('../img/HUACA-SLID1.jpg');
    animation-delay: 6s;
}
.hero div:nth-child(3){
    background-image: url('../img/HUACA-SLID2.jpg');
    animation-delay: 12s;
}

.hero .hero-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: none;
    opacity: 1;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1em;
}

.hero .hero-down{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: none;
    opacity: 1;
    width: 5%;
    height: auto;
}

@media(max-width:720px){
    .hero .hero-logo{
        width: 45%;
    }
    .hero .hero-down{
        width: 15%;
    }
}
@media(max-width:440px){
    .hero .hero-logo{
        width: 80%;
    }
    .hero .hero-down{
        width: 20%;
    }
}

/*2DO HERO*/
.hero2{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/museo1.png");
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.login-box{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.774);
    color: #fff;
    top: 50%;
    right: 35%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10%;
}

.login-box .avatar{
    width: 200px;
    height: 100px;
    position: absolute;
    top: -15%;
    left: calc(50% - 70px);
}

.login-box h1{
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 0 0 20px;
}
.login-box label,
.login-box input{
    margin-bottom: 10px;
}

/*Header*/
header{
    background-color: white;
    box-shadow: 1.5px 1.5px 4px #b3b3b3;
    height: 80px;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    z-index:1;
    transition: all 400ms ease-in-out;
}

header.transparente{
    background-color: transparent;
    box-shadow: none;
}


header img{
    height: 60px;
    width: auto;
}
header nav a{
    color: #67666e;
    font-weight: normal;
    margin-left: 1em;
    /*transition: all 300ms ease-in-out;    */
}
header.transparente nav a{
    color: rgba(255, 255, 255, 0.9);
    font-weight: normal;
    margin-left: 1em;
    /*transition: all 300ms ease-in-out;    */
}
header nav a.activo,
header .m-l a:hover,
header nav a:hover{
    color: #a97c50;
    font-weight: bold;
}
header.transparente nav a.activo,
header.transparente nav a:hover{
    color: white;
}
/*Burger*/
#burger{
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 10;
    display: none;
}
#burger .barra{
    width: 30px;
    height: 2px;
    margin: 6px;
    background-color: #a97c50;
    transition: 400ms all ease-in-out;
}

#burger.abierto .barra{
    background-color: white;
    /*transform: rotateY(180deg);*/
}

#burger.abierto .barra.superior{transform: translateY(8px) rotateZ(45deg);}
#burger.abierto .barra.media{width: 0;}
#burger.abierto .barra.inferior{transform: translateY(-8px) rotateZ(-45deg);}

@media(max-width:620px){
    #burger{
        display: block;
    }

    header{
        justify-content: flex-end;
    }

    header nav{
        display: none;
    }
}

/*Menu lateral*/
.menu{
    width: 360px;
    height: 100vh;
    background-color: #424242;
    position: fixed;
    top: 0;
    left: -360px;
    padding-top: 40px;
    transition: all 700ms ease-in-out;
    z-index: 1;
}

.menu.abierto{
    left:0;
}

.menu nav{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.menu nav a{
    padding: 0.6rem 0;
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.1rem;
    transition: 300ms all ease-in-out;
}

.menu nav a:hover{
    color: white;
}

.menu .copyright{
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
}

/*Layout*/
.primera{margin-top: 100vh;}

#pr,
#aviso,
#cookies{
    display: block;
    margin-top: -80px;
    padding-bottom: 80px;
}

.fila{
    display: flex;
    padding: 2rem 1rem;
    text-align: justify;
}
.fila.contacto{margin-top: 80px;}
.col-100{
    width: 100%;
    padding: 0.5rem 1rem;
}

.col-75{
    width: 75%;
    padding: 0.5rem 1rem;
}
.col-66{
    width: 66.66666%;
    padding: 0.5rem 1rem;
}
.col-50{
    width: 50%;
    padding: 0.5rem 1rem;
}
.col-33{
    width: 33.33333%;
    padding: 0.5rem 1rem;
}
.col-25{
    width: 25%;
    padding: 0.5rem 1rem;
}

@media(max-width:720px){
    .fila{
        flex-direction: column;
        padding: 1rem 0.5;
    }
    .col-75,
    .col-66,
    .col-50,
    .col-33,
    .col-25{width: 100%;}
}

/* C칩digo reutilizable Flex*/
.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Espaciados y m치rgenes*/
.m-t{margin-top: 1rem;}
.m-b{margin-bottom: 1rem;}
.m-l{margin-left: 1rem;}
.m-r{margin-right: 1rem;}
.m-t-small{margin-top: 0.5rem;}
.m-b-small{margin-bottom: 0.5rem;}
.m-l-small{margin-left: 0.5rem;}
.m-r-small{margin-right: 0.5rem;}


/*Parallax*/
.fila.parallax{
    background-image: url('../img/Huaca2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.fila.parallax div{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 3rem 2rem;
}

.fila.parallax div p{
    font-size: 1.5rem;
    color: #a97c50;
    text-align: center;
}

.caja-nav img{
    width: 20%;
    margin-bottom: 1em;
}

.caja-nav a, .caja-nav button{
    border: 1px solid #a97c50;
    background-color: white;
    color: #a97c50;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: all ease-in-out 400ms;
}

.caja-nav a, .caja-nav button:hover{
    background-color: #a97c50;
    color: white;
}

/*Formulario Contacto*/
form.contacto{width: 50%;}

@media(max-width:720px){
    form.contacto{width:75%;}
}

form.contacto .fila{
    padding: 0.8rem;
}

input, textarea{
    border: none;
    border-bottom: 1.5px solid #a97c50;
    font-size: 1rem;
    padding: 0.5em 1em;
    width: 100%;
}

input:focus , textarea{
    outline: none;
    border-bottom: 1.5px solid #643e18;
}

input.usuario ,input.email{
    background-image: url('../img/user.svg');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 2em;
}
input.email{
    background-image: url('../img/mail-bronce.svg');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 2em;
}

button{
    border: none;
    background-color:#a97c50;
    color: white;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: all ease-in-out 400ms;
}

button:hover{background-color: #81501e;}

input[type='checkbox']{display: none;}
input[type='checkbox'] + label::before{
    content: url(../img/square.svg);
    position: relative;
    top: 5px;
    padding-right: 5px;
}
input[type='checkbox'] + label::before{
    content: url(../img/square.svg);
    position: relative;
    top: 5px;
    padding-right: 5px;
}
input[type='checkbox']:checked + label::before{
    content: url(../img/check-square.svg);
    position: relative;
    top: 5px;
    padding-right: 5px;
}

/*Footer*/

footer{background-color: #424242;}
footer p{color: rgba(255, 255, 255, 0.80);}
footer p:first-child{
    color: #a97c50;
    font-weight: bold;
}
footer img.rrss{height: 48px;}
footer a{
    font-size: 0.8rem;
    color: #a97c50;
    transition: all 400ms ease-in-out;
}
footer a:hover{
    color: #704a24;
}

footer .copyright{
    color: rgba(255, 255, 255, 0.80);
    font-size: 0.8rem;
    text-align: center;
}

/*Card*/
.fila.grid{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit,360px);
    grid-gap: 1.5rem;
    justify-content: center;
}
.card{
    width: 360px;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /*Cuando cada imagen tendr치 proporciones variables*/
}
.card img{height: 320px;}
.card .footer-card{
    padding: 0.8rem;
    width: 100%;
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card .footer-card p{margin-bottom: 0.5rem;}
.card .footer-card p:first-child{font-weight:bold;}
.card .footer-card a{
    background-color: #a97c50;
    color: white;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    padding: 0.5em 1em;
    align-self: center;
    transition:400ms ease-in-out all;
}
.card .footer-card a:hover{background-color: #664626;}

/*ficha propiedad*/
/*Agregen sus fichas de propiedad*/
.propiedad{
    margin-top: 80px;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

/*Agregen sus fondos con el .propiedad.lugarX*/
.propiedad.recinto{
    background-image: url("../img/RCEREMONIAL3.jpg");
}
.propiedad.hluna{
    background-image: url("../img/HUACALUNA1.jpg");
}
.propiedad.personas{
    background-image: url("../img/auditoria-recursos-humanos.jpg");
}


.propiedad div:first-child{background-color: rgba(255, 255, 255, 0.9);}
.propiedad div:first-child h1{
    font-size: 1.4rem;
    color: #a97c50;
}
.propiedad div:first-child p img{
    width: 28px;
    height: 28px;
}

/*Carrusel*/
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 99;
    display: none;
}

.carrusel{
    position: fixed;
    top: 5vh;
    left: 5%;
    width: 90%;
    background-color: white;
    z-index: 100;
    overflow: hidden;
    display: none;
}

.carrusel .x-modal{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.carrusel .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 900ms all ease-in-out;
}

.carrusel .slide img{
    width: 100%;
}

.rigth-arrow{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-arrow{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

/*Cont치ctenos*/

.fila.contacto img {    
    width: 50px;
}

.formulario {
    border-right: 2px solid #a97c50;
}

.formulario button{
    width: 100%;
}

.formulario textarea {
    resize: none;
}

.adicional {
    align-items: flex-start;
    justify-content: flex-start;
}

.adicional h3 {
    margin-bottom: 2em;
}

.adicional div p:first-child {
    letter-spacing: 3px;
    color: rgb(103, 102, 110, 0.7);
}

.adicional div p:last-child {
    font-size: 1.2em;
}

@media(max-width: 720px){
    .formulario {
        border: none;
        border-bottom: 2px solid #a97c50;
        margin-bottom: 15px;
    }

    .adicional {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .adicional h3 {
        margin-bottom: 1em;
    }

}

.info > table {
    visibility: hidden;
    border-collapse: collapse;
    text-align: center;
}

.info > table, .info th, .info td , .info tr {
    border: 1px solid #a97c50;
    width: 0;
    height: 0;
    font-size: 0;
    transition: width 0.5s, height 0.5s, font-size 0.5s;
}

.info img {
    transition: width 0.5s, margin-bottom 0.5s;
}

.info button {
    transition: opacity 0.5s;
}

.info:hover {
    flex-direction: row;
    column-gap: 15px;
}

.info:hover table,.info:hover tr, .info:hover th,.info:hover td{
    width: initial;
    height: initial;
    font-size: initial;
    visibility: visible;
}

.info:hover img{
    width: 25%;
    margin-bottom:  0;
}

.info:hover button {
    opacity: 0;
    display: none;
}   

@media(max-width:720px){
    .precios:hover {
       padding-bottom: 100px;
    }
}
/* CSS PARA TABLAS*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  td, th {
    border: 1px solid #a97c50;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #ece0d4;
  }

  /*CSS SUBRAYADO INDIVIDUAL*/

  .sub{
    border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #a97c50;
  }



  /**CSS HOME ADMIN**/
.container{
    background-image: url(../img/Huaca1.jpg);
    width: 100%;
    height: 100%;
}

  .threeholder {
	position: relative;
	margin-top: 0px;
	width: 800px;
	height:280px;
	margin-left: auto;
	margin-right: auto;
    margin-top: auto;
}
.threeone {
	display: inline-block;
	width: 33.33333333333%;
	height: 100%;
	background: #363636;
	border-bottom: 15px solid #a97c50;
	text-align: center;
	transition: all 0.25s;
}
.threetwo {
	display: inline-block;
	width: 33.333333333%;
	height: 100%;
	background: #333333;
	border-bottom: 15px solid #a97c50;
	transition: all 0.25s;
}
.threethree {
	display: inline-block;
	width: 33.333333333%;
	height: 100%;
	background: #363636;
	border-bottom: 15px solid #a97c50;
	transition: all 0.25s;
}
.threeone:hover {
	background: #a97c50;
}
.threeone:hover .circlepic {
	background: #5c5c5c;
}
.threeone:hover .circleborder{
		background: #333333;
}
.threeone:hover svg{
	fill:#a97c50;
}
.threeholder h4 {
	width: 200px;
	text-align: center;
	font-size: 13px;
	margin-left: -55px;
	font-weight: bold;
	margin-top: 45px;
	text-align: center;
	color: white;
}
.threeholder p {
	display: inline-block;
	width:200px;
	text-align: center;
	margin-left: -55px;
	margin-top: 20px;
	font-size: 12px;
	color:#8a8a8a;
	letter-spacing: 1px;
}
.threeone:hover h4 {
	color: black;
}
.threetwo:hover h4 {
	color: black;
}
.threethree:hover h4 {
	color: black;
}
.threeone:hover svg, .threetwo:hover svg, .threethree:hover svg {
	transition: all 0.65s;
	transform: rotateY(360deg);
}
.threetwo:hover {
	background: #a97c50;
}
.threetwo:hover .circleborder{
		background: #333333;
}
.threetwo:hover svg{
	fill:#a97c50;
}
.threethree:hover {
	background: #a97c50;
}
.threethree:hover .circleborder{
		background: #333333;
}
.threethree:hover svg{
	fill:#a97c50;
}
.circleborder {
	position: absolute;
	top: 30px;
	width: 90px;
	height: 90px;
	background: #a97c50;
	margin-left: 88.33333px;
	border-radius: 50%;
}
.circlepic {
	position:absolute;
	top:-10px;
	margin-top: 30px;
	width: 110px;
	height: 110px;
	background: #5c5c5c;
	margin-left: 78.33333px;
	border-radius: 50%;
}
